.hero {
    font-family: roboto;
    background-color: #2E2F42;
}
.hero-title {
    font-weight: 700;
    text-align: center;
    line-height: 1.07;
    font-size: 56px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.button {
    font-family: roboto;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
}
.button:hover, 
.button:focus {
    background-color: #404BBF;
}
.button {
    cursor: pointer;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    min-width: 1440px;
    padding-block: 188px;
    padding-inline: 0px;
    width: 1440px;background-color: #2E2F42;
}
.container-hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 48px;
    padding-block: 0px;
    padding-inline: 15px;
    width: 100%;
    max-width: 1158px;
}
.button {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    border-radius: 4px;
    padding-block: 16px;
    padding-inline: 32px;
    width: 169px;
    max-width: 169px;
}